.mefradio {
	margin-left: 50px;
}

.mefinput {
	margin-left: 2vw;
}

.VOffSetAvis {
	height: 3vh;
}

.VOffSetAvis2 {
	height: 4vh;
}

.VOffSetAvis3 {
	margin-top: 3px;
}

.spacingbutton {
  margin-right: 20px;
}

.ajust {
  padding-left: 0px;
  margin-left: 0px;
}
