.page {
  float: right;
  margin-right: 30px;
  width: 80%
}

.panel-title {
  font-weight: bold;
}

.VOffSetPages {
  height: 80px;
}

.VOffSetHautPages {
  height: 7vh;
}

.VOffSetBasPages {
  height: 7vh;
}

@media screen and (max-width: 1000px){
  .pagedesktop{
    float: right;
    margin-left: 2px;
    margin-right: 2px;
    width: 100%
  }
}
