.page {
  float: right;
  margin-right: 30px;
  width: 80%
}

.panel-title {
  font-weight: bold;
}

.VOffSetPages {
  height: 6vh;
}

.VOffSetHautPages {
  height: 7vh;
}

.VOffSetBasPages {
  height: 7vh;
}
