.header {
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100%;
  font-size: 16px;
}

.logohead {
  width: 40px;
  height: 35px;
  margin-right: 2vw;
}

.logomenu {
  width: 10px;
  height: 35px;
}

.nom, .prenom, .matricule, .compteur {
  font-weight: bold;
}

.prenom, .matricule, .conge {
  margin-left: 2vw;
}

.rtt, .repos {
  margin-left: 5vw;
}

.repos {
  padding-right: 2vw;
}

.conge, .rtt, .repos {
  padding-top: 8px !important;
}

.entete {
  z-index: 5000;
  border-color: #ddd;
  border:  #ddd;
}

.iconemenumobile {
  list-style: none;
  text-decoration: none;
}
