.tablo {
    width: 100%;
    border-spacing: 0;
}

.contenutablo, .contenutablo tr, .contenutablo tr th, .contenutablo tr td {
  display: block;
}

.scrollable tr {
    /* fallback */
    width: 100%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 0px);
    width:    -moz-calc(100% - 0px);
    width:         calc(100% - 0px);
}

.contenutablo tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.scrollable {
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.contenutablo tr td {
    width: 50%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}

.contenutablo tr th {
    width: 47%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}

.cadretablo {
  background-color: #eee;
}
